#body{
  margin: 0;
  background-color: #e3eefc;
}
#Header_1{
  background: url("../img/People.png");
  color: transparent;
  -webkit-background-clip:text;
  animation: Header 25s infinite linear;
}
.nav-button{
  font-family: cursive;
  border: 2px dotted #F349D8;
  background-color: #e3eefc;
  color: #2E4CEF;
}
#slider_1{
  margin-top: 20px;
}
@keyframes Header{
  0%{
    background-position: 0 0 ;
  }
  50%{
    background-position: 100% 100%;
  }
  100%{
    background-position: 0% 0%;
  }
}
@media screen and (min-width: 992px){
    #Header_1{
      font-size: 100px;
    }
    #nav-button-4{
      margin-right: 0px;
    }
    #Kompozition_header{
      font-size: 80px;
    }
    
}
@media screen and (min-width: 500px) and (max-width: 992px){
    #Header_1{
      font-size: 50px;
    }
    
}
@media screen and (max-width: 768px){
    .nav-button{
      margin-top: 5px;
      width: 80%;
    }
    #nav-button-1{
      width: 50%;
    }
    #nav-button-2{
      width: 29%;
    }
    #nav-button-4{
      width: 50%;
    }
    #nav-button-5{
      width: 29%;
    }
}
@media screen and (min-width: 1200px){
    .nav-button{
      font-size: 20px;
    }
    #slider_1{
      width: 70%;
    }
    /*.pic_slider_1{
      height: 700px;
    }*/

}
@media screen and (max-width: 1071px) and (min-width: 993px){
  #Header_1{
    font-size: 80px;
  }
}
#Navigation_container{
  margin-top: 20px;
}
@media screen and (min-width: 768px) and (max-width: 1024px){
  #container_header{
      width: 100%;
    }
}
@media screen and (max-width: 500px){
  #kompozition_text{
    font-size: 7px;
  }
}

#Kompozition_header{
  color: #F349D8;
  font-family: thin;
}
#container_kompozition{
  margin-top: 50px;
  width: 70%;
}
#kompozition_text{
  font-family: cursive;
  font-size: 20px;
  color: #2E4CEF;
}
#sliders{
  width: 70%;
}
.ballon{
  height: 280px;

  transform: translate3d(0, - 100%, 0);
  animation: spin 7s infinite linear;
}
#container_ballon{
  width: 70%;
  border: 1px dotted gray;
  border-radius: 5px;
  padding: 5px;
}
@keyframes spin {
  0%, 100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0,20%);
  }
}